div.qconsole {
    border: 1px solid red;
    height: 300px;
    overflow: auto;
    padding: 5px;
    color: red;
    background-color: white;
    font-family: 'Lucida Console';
    font-size: small;
}

div.qconsolerow {
    word-wrap: break-word;
    margin-top: 5px;
}

input.qconsole {
    width: 90%;
    color: red;
    background-color: white;
    outline: none;
    border-width: 0px;
    font-family: 'Lucida Console';
    font-size: small;
}