div.qconsole {
    width: 600px;
    height: 300px;
    overflow: auto;
    padding: 5px;
    color: #adff2f;
    background-color: black;
    font-family: 'Lucida Console';
    font-size: small;
}

div.qconsolerow {
    margin-top: 5px;
}

input.qconsole {
    width: 400px;
    color: #adff2f;
    background-color: black;
    outline: none;
    border-width: 0px;
    font-family: 'Lucida Console';
    font-size: small;
}